<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}">About Us</a></li>
            <li><a href="{{ site.baseurl }}/work">Portfolio</a></li>
            <li><a href="{{ site.baseurl }}/team">Our Team</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact Us</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design by <a href="http://www.themefisher.com">Themefisher</a>. Developed by <a href="http://erino2oo.com">Erin O'Toole</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
